api/node_modules
api/dbdata
api/package-lock.json
cli/node_modules
cli/package-lock.json
cli/data
cli/test
node-client/node_modules
node-client/uploads
node-client/downloads
node-client/package-lock.json
download/package-lock.json
download/package-lock.json
download/public
download/node_modules
doc/node_modules